.env
.env.local
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
server_ip.txt
.tools/
secrets/
*.retry
bootstrap/ansible/inventories/hosts.ini
bootstrap/ansible/group_vars/all.secrets.yml

